@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
h3 {
  font-family: "labrada"; }

h3 .container {
  font-family: "labrada";
  color: #fff; }

h2 {
  font-family: "amarante"; }

p {
  font-family: "poppins"; }

h1 {
  font-family: "amarante";
  color: #fff; }

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center; }
  .about-text {
    padding-top: 50px; }
  .card {
    margin-bottom: 30px; }
  .section-padding {
    padding: 50px; } }

@media (max-width: 991px) {
  .wrapper {
    padding: 0; }
  .services {
    width: 100%;
    display: flex;
    flex-direction: column; }
  a {
    margin-bottom: 35px; } }

body body {
  background: #f0f0f0; }

body .section-padding {
  padding: 70px 0; }

body .navbar-nav a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500; }

body .navbar-dark .navbar-brand,
body .navbar-light .navbar-brand {
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; }
  body .navbar-dark .navbar-brand:focus, body .navbar-dark .navbar-brand:hover,
  body .navbar-light .navbar-brand:focus,
  body .navbar-light .navbar-brand:hover {
    color: #000000; }

body .w-100 {
  height: 100vh; }

body .navbar-toggler {
  padding: 1px;
  font-size: 18px;
  line-height: 0.3; }

body .services .card-body i {
  font-size: 50px; }

body .team .card-body i {
  font-size: 20px; }

body .card {
  margin-bottom: 30px; }

body a {
  text-decoration: none; }

body .content p {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.7;
  font-family: "poppins";
  margin-bottom: 20px;
  align-items: center;
  padding: 30px; }

body .content h1 {
  padding-left: 30px;
  font-family: "amarante";
  color: #ffffff; }

.section-padding {
  padding: 70px 0; }

.contentAbout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }

header {
  text-align: center;
  margin-bottom: 40px; }

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 40px; }

.aboutUs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.img-area-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px; }

.img-area-about img {
  width: calc(25% - 10px);
  margin-bottom: 10px;
  border-radius: 15px; }

.text-area-about {
  flex-basis: 100%; }

.text-area-about p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff; }

@media (max-width: 767px) {
  .img-area-about img {
    width: calc(50% - 10px); } }

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; }
  @media (min-width: 768px) {
    .testimonials {
      flex-direction: row;
      justify-content: space-between; } }

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: white; }
  @media (min-width: 768px) {
    .testimonial {
      flex-basis: 48%;
      margin-bottom: 0; }
      .testimonial:last-of-type {
        margin-right: 0; } }

.testimonial-image {
  max-width: 100%;
  height: auto; }

.testimonial-image img {
  max-width: 100%;
  border-radius: 15px; }

.author {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: 'poppins'; }

.form {
  width: 100%;
  max-width: 600px; }
  @media (min-width: 768px) {
    .form {
      flex-basis: 48%; } }

.form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: white; }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white; }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }

.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff; }

.gallery .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.gallery .photos a {
  width: calc(23% - 20px);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px; }

.gallery .photos a:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease-out; }

.gallery .photos button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f00;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.gallery .photos button:hover {
  background-color: #900; }

.gallery .photos img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease-out; }

.title::before {
  content: "🌟";
  margin-right: 10px; }

.header-services {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
  text-transform: uppercase;
  font-weight: 700; }
  .header-services span {
    color: #ab26ad; }

.single-service {
  padding: 25px;
  transition: all .5s ease; }
  .single-service i {
    font-size: 60px; }
  .single-service h2 {
    font-size: 25px;
    font-weight: 500; }
  .single-service:hover {
    background: radial-gradient(circle, #995be6, #d451d4);
    color: #ffffff; }
