

//colors
$colors :( $color-white:#fff , $background-body:#161815, $color-black: #000000 ,$color-gray: #262626 ,$color-blue: deepskyblue  );

// Typography
$typographys:($paragraph-typography:'poppins' ,$title-header:'amarante' , $subtitle-header:'labrada');





//definition variables about us 
$img-area-about-width: 95%;
$img-area-about-margin: auto;
$img-area-about-margin-left: 10px;
$img-area-about-img-width: 48%;
$img-area-about-img-margin: 30px 15px;
$img-area-about-img-border-radius: 16px;
$about-text-padding-top: 50px;
$content-p-font-size: 22px;
$content-p-color: $color-white;
$content-p-line-height: 1.7;
$content-p-margin-bottom: 20px;
$content-p-align-items: center;
$content-p-padding: 30px;
$content-h1-padding-left: 30px;
$content-h1-color: $color-white;














