.header-services {
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
    font-weight: 700;
  
    span {
      color: rgb(171, 38, 173);
    }
  }
  
  .single-service {
    padding: 25px;
    transition: all .5s ease;
  
    i {
      font-size: 60px;
    }
  
    h2 {
      font-size: 25px;
      font-weight: 500;
    }
  

    &:hover {
      background: radial-gradient(circle, #995be6, #d451d4);
      color:$color-white;
    }
  }
  
