$body-background-color: #f0f0f0;
$color-white: #ffffff;
$paragraph-typography: 'poppins';
$title-header:'amarante';

body {
    $body-background-color: #f0f0f0;

    body {
        background: $body-background-color;
    }
    
    .section-padding {
        padding: 70px 0;
    }
    
    .navbar-nav a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .navbar-dark .navbar-brand,
    .navbar-light .navbar-brand {
        color: $color-white;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    
        &:focus,
        &:hover {
            color: #000000;
        }
    }
    
    .w-100 {
        height: 100vh;
    }
    
    .navbar-toggler {
        padding: 1px;
        font-size: 18px;
        line-height: 0.3;
    }
    
    .services {
        .card-body {
            i {
                font-size: 50px;
            }
        }
    }
    
    .team {
        .card-body {
            i {
                font-size: 20px;
            }
        }
    }
    
    .card {
        margin-bottom: 30px;
    }
    
    a {
        text-decoration: none;
    }
    
    .content {
        p {
            font-size: 22px;
            color: $color-white;
            line-height: 1.7;
            font-family: $paragraph-typography;
            margin-bottom: 20px;
            align-items: center;
            padding: 30px;
        }
    
        h1 {
            padding-left: 30px;
            font-family: $title-header;
            color: $color-white;
        }
    }





}
